
.ccsproject
targetConfigs/MSP430G2553.ccxml
targetConfigs/readme.txt
tpDisplayEncoder/
lnk_msp430g2553.cmd
Debug/system.obj
Debug/system.d
Debug/subdir_vars.mk
Debug/subdir_rules.mk
Debug/SSDisp.obj
Debug/SSDisp.d
Debug/sources.mk
Debug/objects.mk
Debug/makefile
Debug/main.obj
Debug/main.d
Debug/isr.obj
Debug/isr.d
Debug/gpio.obj
Debug/gpio.d
Debug/encoder.obj
Debug/encoder.d
Debug/codigoNacho_linkInfo.xml
Debug/codigoNacho.out
Debug/codigoNacho.map
Debug/ccsObjs.opt
Debug/button.obj
Debug/button.d
Debug/boardleds.obj
Debug/boardleds.d
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.cdt.debug.core.prefs
.settings/org.eclipse.cdt.codan.core.prefs
.project
.launches/codigoNacho.launch
.cproject
.launches/TP7.launch
Debug/TP7.map
Debug/TP7.out
Debug/TP7_linkInfo.xml
/Debug/
